{% extends "base_table.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<table cellspacing="1" border=1 frame=void rules=rows>
	{% for interaction in interactions %}
		<tr>
			<td>
				target region: <a target="_blank" href="{{interaction.ilink}}" style="color: lightblue"> {{interaction.interval.chrom}} {{interaction.interval.start}} {{interaction.interval.stop}} {{interaction.interval.strand}}</a>
				<br>
				target seq <span style="color:lightblue;white-space:pre;">{{interaction.interval.attrs.seq}}</span>
				<br>
				<br>
				{% for hseq in interaction.targetpairing %}
					<span style="color:lightblue;white-space:pre;">{{hseq}}</span>
					<br>
				{%endfor%}
				{% for hseq in interaction.mirnapairing %}
					<span style="color:green;white-space:pre;">{{hseq}}</span>
					<br>
				{%endfor%}
				<br>
			</td>
			<td>
				</span> miRNA ID <a target="_blank" href="{{interaction.mlink}}" style="color: green">{{interaction.interval.name}}</a>
				<br>
				miRNA seq <span style="color:green;white-space:pre;">{{interaction.interval.attrs.mseq}}</span>
			</td>
			<td>
				N_niq reads: {{interaction.interval.attrs.n_uniq}}
				<br>
				MFE: {{interaction.interval.attrs.energy}}
				<br>
				MFE pvalue: {{interaction.interval.attrs.pval}}
				<br>
				Destructive score: {{interaction.interval.attrs.dscore}}
				<br>
				Split: {{interaction.interval.attrs.split}}
			</td>
		</tr>
	{%endfor%}	
</table>		
{% endblock %}