{% extends "base_table.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<table cellspacing="1" border=1 frame=void rules=rows>
	{% for interaction in interactions %}
		<tr>		
		{% for i in range(interaction.extended_intervals|length) %}
			<td>
			<br><br>
			<a target="_blank" href="{{interaction.ilinks[i]}}" style="color: {{interaction.icolors[i]}}">{{interaction.intervals[i].chrom}} {{interaction.intervals[i].start}} {{interaction.intervals[i].stop}} {{interaction.intervals[i].strand}}</a>
			<br><br>
			<span style="color:{{interaction.icolors[i]}};">{{interaction.extended_intervals[i].attrs.seq}}</span>
			<br><br>
			{% for j in range(interaction.aligned_reads[i]|length) %}
				{% for match, mismatch in interaction.match_mismatch[i][j] %}{% if match%}<span style="color:{{interaction.icolors[i]}};white-space:pre;">{{match}}</span>{%endif%}{% if mismatch%}<span style="background-color:red;margin:0">{{mismatch}}</span>{%endif%}{%endfor%}<br>
			{%endfor%}
			</td>	
		{%endfor%}
		<td>
		<br><br>
		<br><br>readssequences<br><br>
		{% for seq_fragments in interaction.seq_fragments %}
			{% for overlap, unmapped, mapped, color in seq_fragments %}<span style="color:red">{{overlap}}</span><span style="color:gray">{{unmapped}}</span><span style="color:{{color}}">{{mapped}}</span>{%endfor%}<br>
		{%endfor%}
		</td>	
		<td>
		<br><br>
		<br><br>reads ids<br><br>
		{% for rid in interaction.read_ids %}
			{{rid}}<br>
		{%endfor%}
		</td>
		</tr>
	{%endfor%}	
</table>		
{% endblock %}